@import '~vars';

.msg {
  display: block;
  margin-bottom: 5px;

  &--info {
    color: $info-blue;
  }

  &--error {
    color: $error-red;
  }

  &--good {
    color: $good-green;
  }
}

.close {
  border: 1px solid $border-grey;
  border-radius: 10px;
  padding: 1px 5px;

  &:hover {
    cursor: pointer;
  }
}
